
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: url("https://storage.coverr.co/videos/ATJ4XD4KymHlH00eg01724qTyOSI5p9XxL?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjM4NjkyOTcxfQ.C2HelYFgZCY6JOZlyG1q7poefCWjI7XlqebKHSgSADg") no-repeat;
    background-size: cover;
  }
#background-video {
    width: 105vw;
    height: 105vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: blur(5px);
    opacity: 50%;
  }